<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
</head>
<body>

    <h3>{{blog.title}}</h3>
    <div>
    작성자: {{blog.writer}}
    <br>
    날짜: {{blog.pub_date}}
    </div>  
    <p>{{blog.body}}</p>
    <br><br>
    <a href = "{%url 'edit' blog.id%}">EDIT</a>
    <br>
    <a href = "{%url 'delete' blog.id%}">DELETE</a>
</body>
</html>