<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
</head>
<body>
    {% if user.is_authenticated %}
        {{user.username}}
    {% endif %}
<br>
{%load static%}
<img src = "{%static 'amupic.png'%}" alt = "" width = "100" height="100">

    <div> 
        <a href="{% url 'new' %}">새 글 작성</a>
    </div>
    {% for blog in blogs %}
    <div> 
        <h3>{{blog.title}}</h3>
        {{blog.writer}}
        <br>
        {{blog.summary}}<a href = "{%url 'detail' blog.id%}">..more</a>
        <br><br>
    </div>
    {% endfor %}
    <br>
    <form action = "{%url 'login'%}">
        <button type = "submit">login</button> 
    </form>
    <br>
    <form action = "{%url 'logout'%}">
        <button type = "submit">logout</button> 
    </form>
    <br>
    <form action = "{%url 'signup'%}">
        <button type = "submit">signup</button> 
    </form>
</body>
</html>