<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center">
        <h1>사용자의 이름을 입력해주세요.</h1>
        <br>
        <form action="hello">
            <label for="nameInput">
                이름 : 
            </label>
            <input id="nameInput" name="name">
            <input type="submit" value="제출">
        </form>
    </div>
</body>
</html>